body {
    font-family: Calibri;
    background-color: #222233;
    color:#A8D7FF;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 700;
}

h1 {
    margin: 20px;
}

h4 {
    font-weight: 700;
    margin-top: 20px;
}

input[type=text] {
    color: gray;
    border: 3px solid rgba(128,128,128, 0.2);
    background-color: #222233;
}

input[type=text]:focus {
    background-color: rgba(168, 215, 255, 0.1);
    color:#A8D7FF;
}

.loading {
    font-size: 40px;
}

.hidden {
    display: none;
}

.movie-container {
    padding: 20px;
    margin: 6px 2px;
    border: 3px solid rgba(128,128,128, 0.2);
    border-radius: 5px;
    height: 1000px;
    overflow: hidden;
}

.movie-container:hover {
    border: 3px solid rgba(128,128,128, 0.5);
    cursor: pointer;
    transform: scale(1.03);
}

.stars:not(.selected) {
    color: grey;
    opacity: 0.3;
}

.stars.selected {
    color: darkgoldenrod;
}

ul {
    padding: 0;
}

li.genres {
    display: inline;
    margin-right: 10px;
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(168, 215, 255, 0.2);
}

.soft-grey {
    color: grey;
    opacity: 0.7;
}