body {
    font-family: Calibri;
    background-color: #222233;
    color:#A8D7FF;
}

h1 {
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

h3 {
    text-align: center;
    font-weight: 700;
}

h4 {
    font-weight: 700;
    margin-top: 20px;
}

input[type=text] {
    color: gray;
    border: 3px solid rgba(128,128,128, 0.2);
    background-color: #222233;
}

input[type=text]:focus {
    background-color: rgba(168, 215, 255, 0.1);
    color:#A8D7FF;
}

.loading {
    font-size: 40px;
}

.hidden {
    display: none;
}

.movie-container {
    padding: 20px;
    margin: 2px;
    /* border with transparent color so it occupies space (useful for :hover to not move around elements) */
    border: 3px solid rgba(128,128,128, 0.2);
    border-radius: 5px;
}

.movie-container:hover {
    border: 3px solid rgba(128,128,128, 0.5);
    cursor: pointer;
}

.stars:not(.selected) {
    color: grey;
    opacity: 0.3;
}

.stars.selected {
    color: darkgoldenrod;
}